
body, html {
  background-color: #f6ede3!important;
  margin: 0px;
  padding: 0px;
}

form {
  background: #f6ede3;
  margin: 100px auto 50px auto;
}

#backArrow {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 40px;
  left: 30px;
}

#backArrow:hover {
	-webkit-transform: scale(1.12);
}

#logo {
  height: 100px;
  width: auto;
  margin: 0 auto;
}

#desc {
  padding-top: 30px;
  margin-bottom: 30px;
}

h3 {
  margin: 0 auto;
}

#formWrapper {
  background: #fffaf6;
  padding: 40px 30px;
}






input[type=submit] {
  background-color: #ae7880;
  color: white;
  padding: 10px 30px;
  margin: 30px auto 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cfad71;
}










@media screen and (max-width: 575px) {

  body, html {
    background-color: #fffaf6!important;
  }

  form {
    background: #fffaf6;
  }

}
